<section>
  <div class="page-heading">
    <img
      src="/assets/images/back-arrow-icon.svg"
      alt=""
      (click)="goToBack()"
      style="cursor: pointer"
    />Back
  </div>
  <div class="container">
    <div class="ticket-section">
      <div class="stepper">
        <div class="step">
          <span class="dot"></span>
          Tickets
        </div>
        <div class="step">
          <span class="dot"></span>
          Sessions
        </div>
        <div class="step">
          <span class="dot"></span>
          Payment
        </div>
      </div>
      <div class="ticket-top-section">
        <h1>Tickets</h1>
        <div class="info-detail">
          <img src="/assets/images/rush.svg" alt="" />
          <div class="info">
            <h2>In a rush?</h2>
            <p>Register your tickets now or after checking out. Your choice.</p>
          </div>
          <a href="javascript:void(0)">Fill this out later</a>
        </div>
      </div>
      <div
        class="ticket-form-section"
        *ngFor="let formData of formArr; let i = index"
      >
        <h1>Attendee {{ i + 1 }} - {{ formData.title }}</h1>
        <div class="form-section">
          <form [formGroup]="formData.formGroup">
            <div class="form-feild half">
              <input
                type="text"
                placeholder="First name*"
                [ngClass]="{
                  'has-error':
                    formData.formGroup.controls['firstName'].hasError(
                      'required'
                    ) && formData.formGroup.controls['firstName'].touched
                }"
                required
                formControlName="firstName"
              />
            </div>
            <div class="form-feild half">
              <input
                type="text"
                placeholder="Last name*"
                [ngClass]="{
                  'has-error':
                    formData.formGroup.controls['lastName'].hasError(
                      'required'
                    ) && formData.formGroup.controls['lastName'].touched
                }"
                required
                formControlName="lastName"
              />
            </div>
            <div class="form-feild">
              <input
                type="email"
                placeholder="Email*"
                [ngClass]="{
                  'has-error':
                    (formData.formGroup.controls['email'].hasError(
                      'required'
                    ) ||
                      formData.formGroup.controls['email'].hasError('email')) &&
                    formData.formGroup.controls['email'].touched
                }"
                required
                formControlName="email"
              />
            </div>
            <div class="form-feild" *ngIf="formData.isFree">
              <div class="radio-group">
                <label
                  >Would you like to receive the branded connections and other
                  e-communications from the us?</label
                >
                <div class="radio">
                  <input
                    type="radio"
                    name="brand"
                    value="yes"
                    formControlName="brand"
                  />Yes
                </div>
                <div class="radio">
                  <input
                    type="radio"
                    name="brand"
                    value="no"
                    formControlName="brand"
                  />No
                </div>
              </div>
            </div>
            <div class="form-feild" *ngIf="!formData.isFree">
              <input
                type="text"
                placeholder="Job Tital"
                required
                [ngClass]="{
                  'has-error':
                    formData.formGroup.controls['jobTitle'].hasError(
                      'required'
                    ) && formData.formGroup.controls['jobTitle'].touched
                }"
                formControlName="jobTitle"
              />
            </div>
            <div class="form-feild" *ngIf="!formData.isFree">
              <input
                type="text"
                placeholder="Company"
                required
                [ngClass]="{
                  'has-error':
                    formData.formGroup.controls['company'].hasError(
                      'required'
                    ) && formData.formGroup.controls['company'].touched
                }"
                formControlName="company"
              />
            </div>
            <div class="form-feild" *ngIf="!formData.isFree">
              <select
                formControlName="country"
                required
                [ngClass]="{
                  'has-error':
                    formData.formGroup.controls['country'].hasError(
                      'required'
                    ) && formData.formGroup.controls['country'].touched
                }"
              >
                <option value="">Country</option>
                <option value="India">India</option>
                <option value="Australia">Australia</option>
                <option value="America">America</option>
                <option value="England">England</option>
                <option value="Newzeland">Newzeland</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="checkout-section">
      <div class="order-summary">
        <h1>Order summary</h1>
        <ng-container *ngIf="cartData.length > 0">
          <div class="order-item-container">
            <div class="order-item" *ngFor="let cartitem of cartData">
              <div class="item-info">
                {{ cartitem.count }}x{{ cartitem.title }}
              </div>
              <div class="item-price">
                ${{ cartitem.count * cartitem.price }}
              </div>
            </div>
            <a href="javascript:void(0)" (click)="goToBack()">Edit</a>
          </div>
          <div class="sub-total">
            <div class="sub-total-item">
              <div class="item-name">Sub Total</div>
              <div class="item-value">${{ cartDetail.subTotal }}</div>
            </div>
            <div class="sub-total-item">
              <div class="item-name">Taxes</div>
              <div class="item-value">${{ cartDetail.tax }}</div>
            </div>
          </div>
          <div class="final-total">
            <div class="name">Total</div>
            <div class="value">${{ cartDetail.total }}</div>
          </div>
          <a href="javascript:void(0)">Have a promo code?</a>
          <div class="promo-box">
            <input type="text" placeholder="Promo Code" />
            <button type="button">Apply</button>
          </div>
        </ng-container>
        <ng-container *ngIf="cartData.length == 0">
          <h1>There is no item in your cart.</h1>
        </ng-container>
      </div>
      <button type="button" class="checkout-btn" *ngIf="cartData.length > 0">
        Checkout
      </button>
    </div>
  </div>
</section>
