.ticket-section {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.ticket-section .stepper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  position: relative;
}
.ticket-section .stepper:after{
  content: '';
  height: 2px;
  background: #C3C3C3;
  position: absolute;
  left: 20px;
  right: 30px;
  top: 9px;
}
.ticket-section .stepper .step {
  font-weight: normal;
  font-size: 14px;
  color: #727272;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 9;
}
.ticket-section .stepper .step .dot {
  width: 20px;
  height: 20px;
  background: #c3c3c3;
  border-radius: 50%;
  position: relative;
}
.ticket-section .stepper .step .dot::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #0eb58a;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
}
.ticket-section .stepper .step:last-child::after {
  display: none;
}
.ticket-top-section {
  background: #ffffff;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  padding: 25px 30px;
  margin-bottom: 20px;
}
.ticket-top-section h1 {
  font-weight: normal;
  font-size: 22px;
  margin: 0px;
  margin-bottom: 30px;
}
.ticket-top-section .info-detail {
  display: flex;
  align-items: center;
}
.ticket-top-section .info-detail img {
  margin-right: 10px;
  background: rgba(14, 181, 138, 0.11);
  border-radius: 4px;
  padding: 8px;
}
.ticket-top-section .info-detail .info {
  flex: 1;
}
.ticket-top-section .info-detail .info h2 {
  font-weight: normal;
  font-size: 16px;
  margin: 0px;
  margin-bottom: 10px;
}
.ticket-top-section .info-detail .info p {
  font-weight: normal;
  font-size: 13px;
  margin: 0px;
}
.ticket-top-section .info-detail a {
  font-size: 15px;
  color: #0070d2;
}
.ticket-form-section {
  background: #ffffff;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  padding: 60px;
  margin-bottom: 25px;
}
.ticket-form-section h1 {
  font-weight: bold;
  font-size: 17px;
  margin: 0px;
  margin-bottom: 20px;
}
.ticket-form-section .form-section {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.ticket-form-section .form-section form {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ticket-form-section .form-section .form-feild {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}
.ticket-form-section .form-section .form-feild:last-child {
  margin-bottom: 0px;
}
.ticket-form-section .form-section .form-feild.half {
  width: 49%;
}
.ticket-form-section .form-section .form-feild input,
.ticket-form-section .form-section .form-feild select {
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: normal;
  font-size: 14px;
  color: #706e6b;
  padding: 5px 10px;
  width: 100%;
}
.ticket-form-section .form-section .form-feild input.has-error,
.ticket-form-section .form-section .form-feild select.has-error {
  border: 1px solid #eb7092;
}
.ticket-form-section .form-section .form-feild .radio-group {
  display: flex;
  flex-direction: column;
}
.ticket-form-section .form-section .form-feild .radio-group label {
  font-weight: bold;
  font-size: 15px;
  margin: 10px 0px;
}
.ticket-form-section .form-section .form-feild .radio-group .radio {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.ticket-form-section .form-section .form-feild .radio-group .radio:last-child {
  margin-bottom: 0px;
}
.ticket-form-section .form-section .form-feild .radio-group .radio input {
  width: auto;
  margin: 0px;
  margin-right: 10px;
}

.checkout-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 300px;
  margin-left: 20px;
}
.checkout-section .order-summary {
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.checkout-section .order-summary h1 {
  font-weight: bold;
  font-size: 18px;
  margin: 0px;
  margin-bottom: 20px;
}
.checkout-section .order-item-container {
  border-bottom: 1px solid #dddbda;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.checkout-section .order-item-container .order-item {
  font-weight: normal;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.checkout-section .order-item-container .order-item .item-info {
}
.checkout-section .order-item-container .order-item .item-price {
}
.checkout-section .sub-total {
  border-bottom: 1px solid #dddbda;
  margin-bottom: 10px;
}
.checkout-section .sub-total .sub-total-item {
  font-weight: normal;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.checkout-section .sub-total .sub-total-item .item-name {
}
.checkout-section .sub-total .sub-total-item .item-value {
}
.final-total {
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.final-total .name {
}
.final-total .value {
}
.checkout-section a {
  font-size: 15px;
  color: #0070d2;
}
.checkout-section .promo-box {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.checkout-section .promo-box input {
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 15px;
  color: #706e6b;
  width: 100%;
  padding: 5px 10px;
}
.checkout-section .promo-box button {
  background: #ffffff;
  border: 1px solid #0eb58a;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 15px;
  text-align: center;
  color: #0eb58a;
  margin-left: 10px;
  cursor: pointer;
  padding: 5px 20px;
}
.checkout-section .checkout-btn {
  background: #0eb58a;
  border-radius: 6px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  padding: 10px 50px;
  cursor: pointer;
  border: none;
}
