/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
body {
  background: #F3F2F2;
  margin: 0;
  color: #000000;
  font-family: 'Poppins', sans-serif;
}
section {
  padding: 32px 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.page-heading {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}
.page-heading img {
  margin-right: 13px;
}
.container {
  display: flex;
  padding: 80px 100px;
  align-items: flex-start;
}
