.ticket-section {
  background: #ffffff;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 70px 60px;
  display: flex;
  flex: 1;
}
.ticket-section .list-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.ticket-section .list-container .list-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 25px;
  border-bottom: 1px solid #dddbda;
  margin-bottom: 25px;
}
.ticket-section .list-container .list-item:last-child {
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.ticket-section .list-container .list-item h2 {
  font-weight: bold;
  font-size: 18px;
  margin: 0px;
  margin-bottom: 5px;
}
.ticket-section .list-container .list-item p {
  font-weight: normal;
  font-size: 16px;
  margin: 0px;
  margin-bottom: 15px;
}
.ticket-section .list-container .list-item .info {
  font-size: 13px;
  color: #706e6b;
  margin-bottom: 15px;
}
.ticket-section .list-container .list-item .price {
  font-weight: bold;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.ticket-section .list-container .list-item .price select,
.ticket-section .list-container .list-item .price input {
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 4px;
  color: #706e6b;
  font-weight: normal;
  font-size: 15px;
  padding: 5px 10px;
  margin-left: 20px;
}
.ticket-section .list-container .list-item .price span {
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
  padding: 5px 10px;
  margin-right: 10px;
}
.ticket-section .list-container .list-item .price span.active {
  background: #7d7d7d;
  color: #fff;
}
.ticket-section .list-container .list-item .book {
  display: flex;
  align-items: flex-start;
}
.ticket-section .list-container .list-item .book img {
  margin-right: 20px;
}
.ticket-section .list-container .list-item .book .book-info {
  display: flex;
  flex-direction: column;
}
.checkout-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 300px;
  margin-left: 20px;
}
.checkout-section .order-summary {
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.checkout-section .order-summary h1 {
  font-weight: bold;
  font-size: 18px;
  margin: 0px;
  margin-bottom: 20px;
}
.checkout-section .order-item-container {
  border-bottom: 1px solid #dddbda;
  margin-bottom: 10px;
}
.checkout-section .order-item-container .order-item {
  font-weight: normal;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.checkout-section .order-item-container .order-item .item-info {
}
.checkout-section .order-item-container .order-item .item-price {
}
.checkout-section .sub-total {
  border-bottom: 1px solid #dddbda;
  margin-bottom: 10px;
}
.checkout-section .sub-total .sub-total-item {
  font-weight: normal;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.checkout-section .sub-total .sub-total-item .item-name {
}
.checkout-section .sub-total .sub-total-item .item-value {
}
.final-total {
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.final-total .name {
}
.final-total .value {
}
.checkout-section a {
  font-size: 15px;
  color: #0070d2;
}
.checkout-section .promo-box {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.checkout-section .promo-box input {
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 15px;
  color: #706e6b;
  width: 100%;
  padding: 5px 10px;
}
.checkout-section .promo-box button {
  background: #ffffff;
  border: 1px solid #0eb58a;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 15px;
  text-align: center;
  color: #0eb58a;
  margin-left: 10px;
  cursor: pointer;
  padding: 5px 20px;
}
.checkout-section .checkout-btn {
  background: #0eb58a;
  border-radius: 6px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  padding: 10px 50px;
  cursor: pointer;
  border: none;
}
