<section>
  <div class="page-heading">
    <img src="/assets/images/back-arrow-icon.svg" alt="" />CU - Alumni Weekend
  </div>
  <div class="container">
    <div class="ticket-section">
      <div class="list-container">
        <div class="list-item" *ngFor="let ticketitem of ticketData">
          <h2>{{ ticketitem.title }}</h2>
          <p>{{ ticketitem.description }}</p>
          <div class="info">{{ ticketitem.info }}</div>
          <div class="price">
            {{ ticketitem.price == 0 ? "FREE" : "$" + ticketitem.price }}
            <select
              (change)="addTocart(ticketitem)"
              [(ngModel)]="ticketitem.count"
            >
              <option [value]="0">0</option>
              <option [value]="1">1</option>
              <option [value]="2">2</option>
              <option [value]="3">3</option>
              <option [value]="4">4</option>
              <option [value]="5">5</option>
            </select>
          </div>
        </div>
        <div class="list-item">
          <h2>Donate</h2>
          <p>Access to arts is vital. Pay what you can.</p>
          <div class="info">I want to donate</div>
          <div class="price">
            <span>$50</span>
            <span>$100</span>
            <span>$200</span>
            <span>$500</span>
            <span>$</span>
            <input type="number" placeholder="Enter amount" />
          </div>
        </div>
        <div class="list-item">
          <div class="book">
            <img src="/assets/images/book.svg" alt="" />
            <div class="book-info">
              <h2>Book: Good Strategy - Bad Strategy</h2>
              <p>Learn from the experts of business process management</p>
              <div class="price">
                $17.99
                <select>
                  <option>0</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="checkout-section">
      <div class="order-summary">
        <h1>Order summary</h1>
        <ng-container *ngIf="cartData.length > 0">
          <div class="order-item-container">
            <div class="order-item" *ngFor="let cartitem of cartData">
              <div class="item-info">
                {{ cartitem.count }}x{{ cartitem.title }}
              </div>
              <div class="item-price">
                ${{ cartitem.count * cartitem.price }}
              </div>
            </div>
          </div>
          <div class="sub-total">
            <div class="sub-total-item">
              <div class="item-name">Sub Total</div>
              <div class="item-value">${{ cartDetail.subTotal }}</div>
            </div>
            <div class="sub-total-item">
              <div class="item-name">Taxes</div>
              <div class="item-value">${{ cartDetail.tax }}</div>
            </div>
          </div>
          <div class="final-total">
            <div class="name">Total</div>
            <div class="value">${{ cartDetail.total }}</div>
          </div>
          <a href="javascript:void(0)">Have a promo code?</a>
          <div class="promo-box">
            <input type="text" placeholder="Promo Code" />
            <button type="button">Apply</button>
          </div>
        </ng-container>
        <ng-container *ngIf="cartData.length == 0">
          <p>There is no item in your cart.</p>
        </ng-container>
      </div>
      <button
        type="button"
        class="checkout-btn"
        (click)="goToCheckout()"
        *ngIf="cartData.length > 0"
      >
        Checkout
      </button>
    </div>
  </div>
</section>
